fastapi
uvicorn
Flask
requests
langchain
pydantic
google-search-results
markdown
langchain_google_community
langchain-community 
langchain-tavily 
langchain-google-community 
langchain-groq 
langgraph 
python-dotenv

-e .